* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
  font-family:  'Roboto', sans-serif;
   background:#f5f7fa ;
   font-size: 14px;
  
}



.wrap {
    margin-left: 0;
    margin-right: 20px;
    margin-top: 10px;

}

header {
    display: flex;
    justify-content: space-between;
    height: 20%;

}

.logo_icon {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    /* left: 10px; */
}

.logo_icon .icon {
    top: 20px;
    left: 40px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.logo_icon:hover .fa-solid fa-bars{
    background-color:#D9D9D9
}

.logo_icon .logo img {


    width: 120px;
    height: 30px;

}

.searchbar {

    display: flex;
    justify-content: space-evenly;
}

.search {
    position: relative;
    top: 0;
    left: -50px;

}

.search input {
    width: 600px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    background-color: #f5f7fa;


}

.searchbutton {
    position: relative;
    left: -50px;
    width: 70px;
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;

}
.search:hover .searchbutton{
    background-color:#D9D9D9
}

.mike {
    position: relative;

    left: -70px;
    border: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(168, 165, 165);

}


.mikebutton {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.mike:hover .mikebutton {
    background-color: #D9D9D9;
    color: white;
    position: relative;

}

.login {
    display: flex;
    justify-content: space-between;
}

.login .create {
    position: relative;

    left: -120px;
    width: 20px;

}

.create .createbutton {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    cursor: pointer;
   background-color:#f5f7fa;

}

.create:hover .createbutton {
    background-color: #E5E5E5;

}

.ringbell {
    position: relative;

    left: -80px;
    width: 20px;
}

.notif {
    font-size: 0.8rem;
    position: absolute;
    top: 6px;
    right: -20px;
    color: white;
    background-color: red;
    border-radius: 50%;

}

.ringbell_button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#f5f7fa;
    cursor: pointer;
}

.ringbell:hover .ringbell_button {
    background-color: #E5E5E5;
}

.user {
    position: relative;

    left: -20px;
    width: 20px;
}

.user .user_button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(238, 103, 103);
    cursor: pointer;

}

section {

    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10px;
    left: 10px;
    right: -10px;
    height: 100vh;
    
}

.aside {
    position: absolute;
    height:100vh;
    top: 0;
    left: 0;
    width: 15%;
    margin-bottom: 0;
    
    overflow-y: scroll;

}



.lbutton{
    width: 100%;
    height: 40px;
    background-color: #f5f7fa ;
    border: none;
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    
    
    
}

.aside .item .lbutton:hover{
    background-color:rgb(168, 165, 165) ;

}

.main {
    width: 82%;
    position: absolute;
    top: 0px;
    left: 18%;
    right: 0;
    
    
}
.upper{
    margin: 10px;
    overflow-x:hidden;
    
}

.container_button {

    
    width: 100vw;

    display: flex;
    gap:20px;    
}

.mbutton {
    padding: 10px 20px 10px 20px;
    height: 30px;
    overflow-y: hidden;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
    
    cursor: pointer;
    position: relative;
    z-index: 1;
}
#blackbutton{
    background-color: black;
    color:white;

}

.mbutton:hover{
    background-color: #E5E5E5;
}
.popup{
    width: 50px;
    height: 20px;
    border-radius: 2px;
    visibility: hidden;
    position: relative;
    z-index: 1;
   background-color: black;
   color: white;

}

.mbutton:hover + .popup{   
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 3;

    visibility: visible;
}
.mbutton:hover #arrow{
    position:absolute;
    top:10px;
    width: 30px;
    height: 30px;
    border-radius: 140px;
    background-color: gray;
    color: white;
    z-index: 2;


}

.lower {
    margin: 10px;
}

.videocontent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;

}
.box{
    position: relative;
    z-index: 1;
    
}

.box .image img {
    width: 310px;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
img:hover{
    position: absolute;
    opacity: 0.7;
    z-index: 2;
    background-color: #D9D9D9;
}

.thmbnail {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.video_name img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.video_name{
    display: flex;
    gap:5px;
}
.timing{
    position: absolute;
    color: white;
    left:260px;
    bottom:125px;
    background-color: rgb(85, 68, 68);
    padding: 5px;
    border-radius: 10px;
    z-index: 2;
    
}

